<p>
  Step 1
It's time to dive into something very common in modern day applications and thats 'partials'. Now, partials are a structured way to organize code, and allow you to include partial_views into other views.
The way to create a partial is similar to creating a normal view file, you can use the -right mouse click - and simply create a new partial. However, the place and the name formatting for partials is very important.
</p>
