<div class="jumbotron">
  <h1><i class="fa fa-eercast" aria-hidden="true"></i> Stukdo Todo list Application</h1>
  <p>
    This is the subtitle for my jumbotron
  </p>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
